<p-toast preventOpenDuplicates="true"></p-toast>
<div class="modal-header">
  <h5 class="modal-title" id="exampleModalLabel">Actualizar Contraseña</h5>
  <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
</div>
<div class="modal-body">
  <form [formGroup]="modifyPassword" (ngSubmit)="updatePassword()">
    <div class="mb-3">
      <label for="password_Actual" class="form-label">
        <b>Contraseña Actual</b>
        <span class="text-danger">*</span>
      </label>
      <input formControlName="password_Actual" id="password_Actual" autocomplete="off" class="form-control" type="password" required />
      <div *ngIf="modifyPassword.get('password_Actual')?.invalid && modifyPassword.get('password_Actual')?.touched">
        <small class="text-danger" *ngIf="modifyPassword.get('password_Actual')?.errors?.['required']">
          La contraseña actual es requerida.
        </small>
        <small class="text-danger" *ngIf="modifyPassword.get('password_Actual')?.errors?.['minlength']">
          La contraseña actual debe tener al menos 8 caracteres.
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="password_Nuevo" class="form-label">
        <b>Contraseña Nueva</b>
        <span class="text-danger">*</span>
      </label>
      <input formControlName="password_Nuevo" id="password_Nuevo" autocomplete="off" class="form-control" type="password" required />
      <div *ngIf="modifyPassword.get('password_Nuevo')?.invalid && modifyPassword.get('password_Nuevo')?.touched">
        <small class="text-danger" *ngIf="modifyPassword.get('password_Nuevo')?.errors?.['required']">
          La contraseña nueva es requerida.
        </small>
        <small class="text-danger" *ngIf="modifyPassword.get('password_Nuevo')?.errors?.['minlength']">
          La contraseña nueva debe tener al menos 8 caracteres.
        </small>
        <small class="text-danger" *ngIf="modifyPassword.get('password_Nuevo')?.errors?.['pattern']">
          La contraseña nueva debe contener al menos un número, una letra minúscula, una letra mayúscula y tener al menos 8 caracteres.
        </small>
      </div>
    </div>

    <div class="mb-3">
      <label for="password_Confirmar" class="form-label">
        <b>Confirma Nueva Contraseña</b>
        <span class="text-danger">*</span>
      </label>
      <input
        formControlName="password_Confirmar"
        id="password_Confirmar"
        autocomplete="off"
        class="form-control"
        type="password"
        required
      />
      <div *ngIf="modifyPassword.get('password_Confirmar')?.invalid && modifyPassword.get('password_Confirmar')?.touched">
        <small class="text-danger" *ngIf="modifyPassword.get('password_Confirmar')?.errors?.['required']">
          La confirmación de la contraseña es requerida.
        </small>
        <small class="text-danger" *ngIf="modifyPassword.get('password_Confirmar')?.errors?.['minlength']">
          La confirmación de la contraseña debe tener al menos 8 caracteres.
        </small>
        <small class="text-danger" *ngIf="modifyPassword.get('password_Confirmar')?.errors?.['pattern']">
          La confirmación de la contraseña debe contener al menos un número, una letra minúscula, una letra mayúscula y tener al menos 8
          caracteres.
        </small>
      </div>
    </div>

    <div class="text-end mb-3">
      <label class="text-danger">
        <small>Contraseña: 8 Caracteres mínimo, Mayúsculas, Minúsculas, Números y un carácter especial.</small>
      </label>
    </div>

    <div class="d-flex justify-content-end">
      <button class="btn btn-secondary me-2" id="cancelar_btn" type="button" data-bs-dismiss="modal">Cancelar</button>
      <button type="submit" class="btn btn-primary" style="background-color: #0869ba">Guardar Cambios</button>
    </div>
  </form>
</div>
