<div class="card" style="width: 40rem">
  <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
    <h6 class="m-0 fw-bold text-primary">Sistema Prueba Angular V1</h6>
  </div>
  <div class="card-body">
    <h6 class="card-subtitle mb-2 text-muted">Accesos Principales</h6>
    <div class="row g-0">
      <!-- Se eliminan los espacios entre columnas -->
      <div class="col">
        <br />
        <div id="logUsuarios" (click)="navegar('/movimientosUsuario')">
          <label class="form-label" for="addon-wrapping-left">Log de Usuarios</label>
          <br />
          <img src="assets/images/tiempo.png" width="100" height="100" />
        </div>
      </div>

      <div class="col">
        <br />
        <div id="usuariosAdmin" (click)="navegar('/usuariosAdmin')">
          <label class="form-label" for="addon-wrapping-left">Usuarios</label>
          <br />
          <img src="assets/images/empleados.png" width="100" height="100" />
        </div>
      </div>

      <div class="col">
        <br />
        <div id="expedientesAdmin" (click)="navegar('/expedientesAdmin')">
          <label class="form-label" for="addon-wrapping-left">Expedientes</label>
          <br />
          <img src="assets/images/expediente.png" width="100" height="100" />
        </div>
      </div>

      <div class="col">
        <br />
        <div id="catalogosAdmin" (click)="navegar('/catalogosAdmin')">
          <label class="form-label" for="addon-wrapping-left">Catálogos</label>
          <br />
          <img src="assets/images/revista.png" width="100" height="100" />
        </div>
      </div>

      <div class="col me-2">
        <!-- Ajuste de margen end para reducir espacio entre columnas -->
        <br />
        <div id="trabajadoresAdmin" (click)="navegar('/trabajadoresAdmin')">
          <label class="form-label" for="addon-wrapping-left">Trabajadores</label>
          <br />
          <img src="assets/images/trabajo-en-equipo.png" width="100" height="100" />
        </div>
      </div>

      <div class="col">
        <br />
        <div id="reportesGenerales" (click)="navegar('/reportesGenerales')">
          <label class="form-label" for="addon-wrapping-left">Reportes</label>
          <br />
          <img src="assets/images/reporte.png" width="100" height="100" />
        </div>
      </div>
    </div>
  </div>
</div>
